$colour-success: #61AE24;
$colour-success-bg: #d6e9c6;
$colour-success-fg: #3c763d;
$colour-success-border: #c3e6cb;
$colour-info: #D70060;
$colour-info-fg: #000080;
$colour-info-bg: #d9edf7;
$colour-warning: #e38d13;
$colour-header: #1d6607;
$colour-primary: #00A1CB;

$color-green--light-alt: #00FF00;
$color-green--lighter: #CDE4DA;
$color-green--light: #E6ffE6;
$color-green--medium: #84CF96;
$color-green--dark: #3B8070;
$color-green--darker: #008000;

$color-gray--faded: #6C757D70; // Including alpha
$color-gray--lighter: #F5F5F5;
$color-gray--light: #CDCDCD;
$color-gray--base: #A9A9A9;
$color-gray--dark: #808080;
$color-gray-1: rgba(221,142,98,0.05);
$color-gray-2: rgba(62,108,178,0.02);
$color-gray-3: #E9ECEF;
$color-gray-4: #CED4DA;

$color-blue--x-light: #D1ECF1;
$color-blue-x-light2: #BEE5EB;
$color-blue--lighter: #2F9AF7;
$color-blue--light: #4895DD;
$color-blue--base: #0000FF;
$color-blue--dark: #35495E;
$color-blue--1: #0C5460;
$color-blue--2: #204D74;

$color-yellow--light: #F9F7EC;
$color-yellow--base: #F3F0DA;
$color-yellow--dark: #FBE8AA;
$color-yellow-1: #FFF6DB; // Only used for notice warning message
$color-yellow-2: #FFEEBA; // Only used for notice warning message
$color-yellow-3: #674E04; // Only used for notice warning message

$color-orange--dark: #FF8C00;

$color-red--lighter: #F8D7DA; // Only used for notice warning message
$color-red--light: #F5C6CB; // Only used for notice warning message
$color-red: #FF0000;
$color-red--dark: #721C24; // Only used for notice warning message

$color-white: #FFF;
$color-black: #000;

$color-white-opacity-50: rgba(255, 255, 255, 0.5);
$color-white-opacity-75: rgba(255, 255, 255, 0.75);
$color-black-opacity-33: rgba(0, 0, 0, 0.33);
$color-black-opacity-59: rgba(0, 0, 0, 0.59);
$color-black-opacity-60: rgba(0, 0, 0, 0.6);

$color-purple: purple;
$color-gold: darkgoldenrod;

// ModTools colours
$color-modtools-blue--dark: #396aa3;
$color-modtools-green--light: #dff2d1;
$color-modtools-menu: #3C73B3;
$color-modtools-leftmenu-bg: #e8fefb;
