$colour-success: #61AE24;
$colour-success-bg: #d6e9c6;
$colour-success-fg: #3c763d;
$colour-info: #D70060;
$colour-info-fg: #000080;
$colour-info-bg: #d9edf7;
$colour-warning: #e38d13;
$colour-header: #1d6607;
$colour-primary: #00A1CB;

$color-green--light-alt: #00FF00;
$color-green--light: #E6ffE6;
$color-green--medium: #84CF96;
$color-green--dark: #3B8070;
$color-green--darker: #008000;

$color-gray--faded: #6C757D70; // Including alpha
$color-gray--lighter: #F5F5F5;
$color-gray--light: #CDCDCD;
$color-gray--base: #A9A9A9;
$color-gray--dark: #808080;

$color-blue--light: #4895DD;
$color-blue--base: #0000FF;
$color-blue--dark: #35495E;

$color-yellow--light: #F9F7EC;
$color-yellow--base: #F3F0DA;
$color-yellow--dark: #FBE8AA;

$color-red: #FF0000;

$color-white: #FFF;
$color-black: #000;

$color-white-opacity-50: rgba(255, 255, 255, 0.5);
$color-white-opacity-75: rgba(255, 255, 255, 0.75);
$color-black-opacity-33: rgba(0, 0, 0, 0.33);
$color-black-opacity-59: rgba(0, 0, 0, 0.59);
$color-black-opacity-60: rgba(0, 0, 0, 0.6);
