$colour-success: #61AE24;
$colour-success-bg: #d6e9c6;
$colour-success-fg: #3c763d;
$colour-info: #D70060;
$colour-info-fg: #000080;
$colour-info-bg: #d9edf7;
$colour-warning: #e38d13;
$colour-header: #1d6607;
$colour-primary: #00A1CB;

$color-green--light-alt: #00FF00;
$color-green--lighter: #e6ffe6;
$color-green--light: #dff0d8;
$color-green--medium: #84cf96;
$color-green--dark: #006b50;
$color-green--dark-alt: #006400;
$color-green--dark-alt2: #3b8070;
$color-green--dark-alt3: #008000;

$color-gray--faded: #6c757d70;
$color-gray--x-light: #f5f5f5;
$color-gray--light: #e0e0e0;
$color-gray--mid-light: #d3d3d3;
$color-gray--base: #a9a9a9;
$color-gray--dark: #999;
$color-gray--darker: #595959;
$color-gray--alt: #cdcdcd;
$color-gray--alt2: #808080;

$color-blue--base: #4895dd;
$color-blue--dark: #35495e;
$color-blue--alt: #0000ff;

$color-yellow--light-alt: #f9f7ec;
$color-yellow--light: #f3f0da;
$color-yellow: #fbe8aa;

$color-red: #FF0000;

$color-white: #FFF;
$color-black: #000;

$color-white-opacity-50: rgba(255, 255, 255, 0.5);
$color-white-opacity-75: rgba(255, 255, 255, 0.75);
$color-black-opacity-33: rgba(0, 0, 0, 0.33);
$color-black-opacity-59: rgba(0, 0, 0, 0.59);
$color-black-opacity-60: rgba(0, 0, 0, 0.6);
