@import 'color-vars';

.strike {
  text-decoration: line-through;
  text-decoration-style: double;
  font-weight: normal;
}

.bg-success {
  background-color: $colour-success-bg !important;
  color: $colour-success-fg !important;
}

.card-header.bg-success {
  border-bottom: 1px solid $colour-success-bg;
}

.bg-info {
  background-color: $colour-info-bg !important;
  color: $colour-info-fg !important;
}

.border-info {
  border-color: $colour-info-bg !important;
}

.card-header.bg-info {
  border-bottom: 1px solid $colour-info-bg;
}

// There are six types of button used on the site - primary, secondary, white, danger, warning and link
// This is the primary CTA
.btn-primary {
  background-color: $colour-success;
  background-image: none;
  border-color: $color-green--dark;
  color: $color-white;
  -webkit-font-smoothing: antialiased;
}

.btn-primary:hover,
.btn-primary:active {
  // !important is required to override the bootstrap styles
  color: $color-black !important;
  background-color: $color-white !important;
  border-color: $color-blue--2 !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(72,180,97,.5);
}

.btn-primary:disabled {
  color: $color-white;
  background-color: $color-green--bright;
  border-color: $color-green--bright;
}

// This is the secondary CTA
.btn-secondary {
  background-color: $colour-secondary;
  border-color: $color-blue--dark;
  color: $color-white;
  -webkit-font-smoothing: antialiased;
}

.btn-secondary:hover,
.btn-secondary:active {
  // !important is required to override the bootstrap styles
  color: $color-black !important;
  background-color: $color-white  !important;
  border-color: $color-blue--2 !important;
}

.btn-secondary:focus {
  // !important is required to override the bootstrap styles
  box-shadow: 0 0 0 0.2rem rgba(38,143,255,.5) !important;
}

.btn-secondary:disabled {
  color: $color-white;
  background-color: $color-blue--bright;
  border-color: $color-blue--bright;
}

// This is the tertiary CTA
.btn-white {
  background-color: $color-white;
  border-color: $color-green--dark;
  color: $color-black;
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
  border: 1px $color-black solid;
}

.btn-white:hover {
  color: $color-white;
  background-color: $color-blue--light;
  border-color: $color-blue--2;
}

.btn-default {
  background-color: $color-white;
  background-image: none;
  border-color: $color-green--dark;
  color: $color-black;
  text-shadow: 0 -1px 0 $color-black-opacity-33;
  -webkit-font-smoothing: antialiased;
}

.btn-warning {
  background-color: $colour-warning;
  background-image: none;
  border-color: $color-green--dark;
  color: $color-white;
  text-shadow: 0 -1px 0 $color-black-opacity-33;
  -webkit-font-smoothing: antialiased;
}

.btn-light {
  color: $color-gray--normal;
  background-color: inherit;
  font-size: 0.8rem;
  padding: 0 2px 0 2px;
  border: none;

  &:hover {
    color: $color-gray--normal;
  }
}

.text-success {
  color: $colour-success !important;
}

.text-header {
  color: $colour-header !important;
}

h1, h2, h3, h4 {
  color: $colour-header !important;
}

.header--size1 {
  font-size: 2.5rem;
}

.header--size2 {
  font-size: 2rem;
}

.header--size3 {
  font-size: 1.75rem;
}

.header--size4 {
  font-size: 1.5rem;
}

.header--size5 {
  font-size: 1.25rem;
}

div[variant="success"] .card-header {
  color: $colour-success-fg;
  background-color: $color-green--light;
  border-color: $colour-success-bg;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

body.fd {
  background-image: url('~static/wallpaper.png');
}

body.modtools {
  background-color: $color-modtools-green--light;
}

// We have to go to some effort to style the resize grip.  We can't have it in a scoped style otherwise it won't
// apply to the grip, and the image is small enough that it gets inlined into base64, so we can't use an
// image file - instead we encode it here.
.handle {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAB3RJTUUH4AQLDigeVd0uIAAAAHpJREFUOMvVkDEKgDAMRQuOLoIHcHTUybmb4BW8gPQM4tWfg6mUIJRmUf+W8P9/JM59RkAHBACZK2Dh0ii7GtiiRxcEMQ8yx/ABtBJeZeefCgB6Rd41GZhzp9xhoMmSk+BLZPWDcnJSMJnIqqScrMI2shTYyOqJ3v1OJ4UMEzPeJauEAAAAAElFTkSuQmCC');
  height: 16px;
  width: 16px;
  position: absolute;
  z-index: 1000;
}

.handle-tl {
  top: 0;
  left: 0;
}

.handle-tr {
  top: 0;
  right: 0;
  rotate: 90deg;
}

.handle-bl {
  bottom: 0;
  left: 0;
  rotate: 270deg;
}

.handle-br {
  bottom: 0;
  right: 0;
  rotate: 180deg;
}

// Brought in from style.css
button {
  white-space: nowrap;
}

.clickme {
  cursor: pointer;
}

.btn-group-xs > .btn, .btn-xs {
  padding  : .25rem .4rem;
  font-size  : .875rem;
  line-height  : .5;
  border-radius : .2rem;
}

.card-header-tabs li a {
  border: 1px lightgrey solid !important;
}

.nodecor {
  text-decoration: none !important;
  color: $color-black !important;
}

.prewrap {
  white-space: pre-wrap !important;
}

.preline {
  white-space: pre-line !important;
}

.fa-bh {
  font-size: 100px;
}

.decornone {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 1s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.fadein-enter-active {
    transition: opacity 1s;
}
.fadein-enter {
    opacity: 0;
}

.navbar .dropdown-toggle:after {
  content: none;
}

nav .dropdown-toggle {
  border: none;

  &:hover,
  &:focus {
    color: $color-white-opacity-75 !important;
  }
}

.forcebreak {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.black {
  color: $color-black;
}

.white, .white > a {
  color: $color-white !important;
}

.fa-icon {
  /* These appear misaligned - fix */
  margin-bottom: 3px;
}

.fa-fw {
  width: 1rem;
  height: 1rem;
}

.text-faded {
  color: $color-gray--faded !important;
}

.nopara p {
  margin-bottom: 0;
  display: inline;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

legend {
  font-weight: bold !important;
}

.mx-datepicker-popup {
  z-index: 2000 !important;;
}

/* Overrides default Bootstrap tooltip opacity (0.9) */
.tooltip.b-tooltip {
  opacity: 1;
}

/* Ensure any autocompletes are visible on top of google maps. */
.pac-container {
  z-index: 10000;
}

.sidebar__wrapper {
  height: calc(100vh - 100px);

  .card-body .card {
    border-radius: unset;
  }
}

.pulsate {
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.5;
}

@-webkit-keyframes pulsate {
  0% {
    opacity: 0.25;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.25;
  }
}

form {
  label,
  .col-form-label {
    font-weight: bold;
    color: $color-black;
    margin-top: 10px;
  }

  .is-invalid label,
  .is-invalid .col-form-label {
    color: $color-red;
  }

  .form-group.is-invalid .invalid-feedback {
    display: block;
  }
}

.form-control-xl {
  height: calc(2em + 0.60rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  line-height: 2;
  border-radius: 0.3rem;
}

// Move the attribution slightly to make way for resizers if present
.leaflet-container .leaflet-control-attribution {
  right: 20px;
}
