button {
    white-space: nowrap;
}

.clickme {
    cursor: pointer;
}

.nav-link {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.btn-group-xs > .btn, .btn-xs {
    padding  : .25rem .4rem;
    font-size  : .875rem;
    line-height  : .5;
    border-radius : .2rem;
}

.nodecor {
    text-decoration: none !important;
    color: black !important;
}

.chatMessage {
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 2px;
    word-wrap: break-word;
    background-color: white;
    line-height: 1.75;
}

.prewrap {
    white-space: pre-wrap !important;
}

.fa-bh {
    font-size: 100px;
}

.decornone,
.decornone:hover{
    text-decoration: none;
}

/*TODO This gets stripped if we add it into Postcode because the element is added dynamically.  How do we avoid that?*/
.pcinp {
    max-width: 238px;
    margin: 0 auto;
}

.iteminp ul {
    width: 100% !important;
    right: 0px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.postcodelist {
    z-index: 900;
}

.postcodelist li {
    box-shadow: 1px 3px 5px 3px rgba(0, 0, 0, 0.6) !important;
    width: 238px;
}

/* TODO I tried adding "appear" transitions, e.g. for elements in chitchat, or messages.  But they then don't
    show the computed emessage property.  Don't know why */
.fade-enter-active, .fade-leave-active {
    transition: opacity 1s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.fadein-enter-active {
    transition: opacity 1s;
}
.fadein-enter {
    opacity: 0;
}

.notiflist .dropdown-menu {
    height: 500px;
    overflow-y: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
    background-image: none;
    background-color: white;
}

.carousel-control-next-icon:after
{
    content: '>';
    font-size: 55px;
    color: red;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: red;
}