button {
    white-space: nowrap;
}

.clickme {
    cursor: pointer;
}

.nav-link {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.btn-group-xs > .btn, .btn-xs {
    padding  : .25rem .4rem;
    font-size  : .875rem;
    line-height  : .5;
    border-radius : .2rem;
}

.nodecor {
    text-decoration: none !important;
    color: black !important;
}