
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
  color: $colour-header !important;
}

.header--size1 {
  font-size: 2.5rem;
}

.header--size2 {
  font-size: 2rem;
}

.header--size3 {
  font-size: 1.75rem;
}

.header--size4 {
  font-size: 1.5rem;
}

.header--size5 {
  font-size: 1.25rem;
}

.fa-bh {
  font-size: 100px;
}

.text--smallest {
  font-size: 0.6em;
}

.text--small {
  font-size: 0.75rem;
}

.text--small-medium {
  font-size: 0.9rem;
  line-height: 1.2;
}

.text--medium {
  font-size: 1rem;
}

.text--medium-responsive {
    font-size: 1rem;

    @include media-breakpoint-up(md) {
      font-size: 2vw;
    }
}

.text--medium-large {
  font-size: 1.2rem;
  line-height: 1.2;
}

.text--medium-large-spaced {
  font-size: 1.2rem;
  line-height: 1.5;
}

.text--medium-large-highlight {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2;
}

.text--large {
  font-size: 1.5rem;
}

.text--largest {
  font-size: 2rem;
}

.text--largest-responsive {
  font-size: 2rem;

  @include media-breakpoint-up(md) {
    font-size: 3.5vw;
  }
}

.text-success {
  color: $colour-success !important;
}

.text-header {
  color: $colour-header !important;
}
