
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
  color: $colour-header !important;
}

.header--size1 {
  font-size: 2.5rem;
}

.header--size2 {
  font-size: 2rem;
}

.header--size3 {
  font-size: 1.75rem;
}

.header--size4 {
  font-size: 1.5rem;
}

.header--size5 {
  font-size: 1.25rem;
}

.header--size6 {
  font-size: 1rem;
}

.fa-bh {
  font-size: 100px;
}

.mobtext {
  font-size: 0.6em;
}

.signin__header {
  font-size: 1.1rem;
}

.card-header__description {
  font-size: 1.2rem;
  line-height: 1.2;
}

.message-history {
  font-size: 0.9rem;
  font-weight: 400;
}

.replytext {
  font-size: 14px;
  line-height: 1.2;
}

.text--highlight {
  font-size: 1.25rem;
  font-weight: 500;
}

.name {
  font-size: 150%;
  font-weight: bold;
}

.largest {
  font-size: 2rem;

  @include media-breakpoint-up(md) {
    font-size: 3.5vw;
  }
}

@include media-breakpoint-up(md) {
  font-size: 1rem;

  .medium {
    font-size: 1.5rem;
  }
}

.head {
  font-size: 2rem;
}

.community__heading {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}

/*
.text--small {
  font-size: 0.75rem;
}
*/
.text--medium {
  font-size: 1rem;
}
/*
.text--large {
  text-size: 2rem;
}
*/
.text-success {
  color: $colour-success !important;
}

.text-header {
  color: $colour-header !important;
}
