@colour-success: #61AE24;
@colour-info: #D70060;
@colour-warning: #e38d13;
@colour-header: #1d6607;
@colour-primary: #00A1CB;

.btn-primary {
    background-color: @colour-primary !important;
    border-color: #006b50 #006b50 hsl(165, 100%, 16%);
    color: #fff !important;@colour-success
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.59);
    -webkit-font-smoothing: antialiased;
}

.btn-success {
    background-color: @colour-success !important;
    background-image: none;
    border-color: #006b50 #006b50 hsl(165, 100%, 16%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.59);
    -webkit-font-smoothing: antialiased;
}

.btn-info {
    background-color: @colour-info !important;
    background-image: none;
    border-color: #006b50 #006b50 hsl(165, 100%, 16%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.59);
    -webkit-font-smoothing: antialiased;
}

.btn-default  {
    background-color: white !important;
    background-image: none;
    border-color: #006b50 #006b50 hsl(165, 100%, 16%);
    color: black !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
    -webkit-font-smoothing: antialiased;
}

.btn-warning  {
    background-color: @colour-warning !important;
    background-image: none;
    border-color: #006b50 #006b50 hsl(165, 100%, 16%);
    color: white !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
    -webkit-font-smoothing: antialiased;
}

.btn-white  {
    background-color: white !important;
    border-color: #006b50 #006b50 hsl(165, 100%, 16%);
    color: black !important;
    text-shadow: none !important;
    -webkit-font-smoothing: antialiased;
    border: 1px black solid !important;
}

h1,h2,h3,h4 {
    color: @colour-header !important;
}

div[variant="success"] .card-header {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.msgsubj {
  color: #000080 !important
}
